In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Netflix Data

In [2]:
import pandas as pd

# https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies
df = pd.read_csv("titles.csv")
print(df.sample(5, random_state=0))
print(df.shape)

#             id                  title   type                                        description  release_year age_certification  runtime                                             genres production_countries  seasons     imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
# 1519   ts38761        Another Miss Oh   SHOW  Two women working in the same industry with th...          2016             TV-MA       69          ['drama', 'fantasy', 'romance', 'comedy']               ['KR']      1.0   tt5679572         7.9      1769.0           22.672         8.2
# 4942  ts225657                Halston   SHOW  American fashion designer Halston skyrockets t...          2021             TV-MA       47                                          ['drama']               ['US']      1.0  tt10920514         7.5     14040.0           21.349         7.3
# 895    tm34646             Sisterakas  MOVIE  A man takes revenge on his sister by hiring he...          2012               NaN      110                                ['drama', 'comedy']               ['PH']      NaN   tt2590214         5.2       286.0            2.552         4.9
# 5426  ts301609  Love Is Blind: Brazil   SHOW  The dating experiment comes to Brazil as local...          2021             TV-MA       56                             ['romance', 'reality']               ['BR']      1.0  tt15018224         6.1       425.0            5.109         6.4
# 2033   ts56038         Dave Chappelle   SHOW  Comedy icon Dave Chappelle makes his triumphan...          2017               NaN       60                        ['comedy', 'documentation']               ['US']      1.0   tt6963504         8.7      2753.0            2.962         7.6
# (5806, 15)

            id                  title   type  \
1519   ts38761        Another Miss Oh   SHOW
4942  ts225657                Halston   SHOW
895    tm34646             Sisterakas  MOVIE
5426  ts301609  Love Is Blind: Brazil   SHOW
2033   ts56038         Dave Chappelle   SHOW

                                            description  release_year  \
1519  Two women working in the same industry with th...          2016
4942  American fashion designer Halston skyrockets t...          2021
895   A man takes revenge on his sister by hiring he...          2012
5426  The dating experiment comes to Brazil as local...          2021
2033  Comedy icon Dave Chappelle makes his triumphan...          2017

     age_certification  runtime                                     genres  \
1519             TV-MA       69  ['drama', 'fantasy', 'romance', 'comedy']
4942             TV-MA       47                                  ['drama']
895                NaN      110                        ['drama', 'comedy']
5426             TV-MA       56                     ['romance', 'reality']
2033               NaN       60                ['comedy', 'documentation']

     production_countries  seasons     imdb_id  imdb_score  imdb_votes  \
1519               ['KR']      1.0   tt5679572         7.9      1769.0
4942               ['US']      1.0  tt10920514         7.5     14040.0
895                ['PH']      NaN   tt2590214         5.2       286.0
5426               ['BR']      1.0  tt15018224         6.1       425.0
2033               ['US']      1.0   tt6963504         8.7      2753.0

      tmdb_popularity  tmdb_score
1519           22.672         8.2
4942           21.349         7.3
895             2.552         4.9
5426            5.109         6.4
2033            2.962         7.6
(5806, 15)

# Anti-Pattern #1: Mutating instead of chaining

In [3]:
import pandas as pd

df = pd.read_csv("titles.csv")

# Mutation - DON'T DO THIS
df_bad = df.query("runtime > 30 & type == 'SHOW'")
df_bad["score"] = df_bad[["imdb_score", "tmdb_score"]].sum(axis=1)
df_bad = df_bad[["seasons", "score"]]
df_bad = df_bad.groupby("seasons").agg(["count", "mean"])
df_bad = df_bad.droplevel(axis=1, level=0)
df_bad = df_bad.query("count > 10")

# Chaining - DO THIS
# fmt: off
df_good = (df
    .query("runtime > 30 & type == 'SHOW'")
    .assign(score=lambda df_: df_[["imdb_score", "tmdb_score"]].sum(axis=1))
    [["seasons", "score"]]
    .groupby("seasons")
    .agg(["count", "mean"])
    .droplevel(axis=1, level=0)
    .query("count > 10")
)
# fmt: on

print(df_good)
print(pd.testing.assert_frame_equal(df_bad, df_good))

# returns:
#          count       mean
# seasons
# 1.0        835  13.064671
# 2.0        189  14.109524
# 3.0         83  14.618072
# 4.0         41  14.887805
# 5.0         38  15.242105
# 6.0         16  15.962500

         count       mean
seasons
1.0        835  13.064671
2.0        189  14.109524
3.0         83  14.618072
4.0         41  14.887805
5.0         38  15.242105
6.0         16  15.962500
None

C:\Users\aidan\AppData\Local\Temp/ipykernel_39788/2548868756.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bad["score"] = df_bad[["imdb_score", "tmdb_score"]].sum(axis=1)

In [4]:
import pandas as pd

df = pd.read_csv("titles.csv")

def split_prod_countries(df_):
    # split `production_countries` column (containing lists of country
    # strings) into three individual columns of single country strings
    dfc = pd.DataFrame(df_["production_countries"].apply(eval).to_list())
    dfc = dfc.iloc[:, :3]
    dfc.columns = ["prod_country1", "prod_country2", "prod_country3"]
    return df_.drop("production_countries", axis=1).join(dfc)

df_pipe = df.pipe(split_prod_countries)

print(df["production_countries"].sample(5, random_state=14))
# returns:
# 3052    ['CA', 'JP', 'US']
# 1962                ['US']
# 2229                ['GB']
# 2151          ['KH', 'US']
# 3623                ['ES']

print(df_pipe.sample(5, random_state=14).iloc[:, -3:])
# returns:
#      prod_country1 prod_country2 prod_country3
# 3052            CA            JP            US
# 1962            US          None          None
# 2229            GB          None          None
# 2151            KH            US          None
# 3623            ES          None          None

3052    ['CA', 'JP', 'US']
1962                ['US']
2229                ['GB']
2151          ['KH', 'US']
3623                ['ES']
Name: production_countries, dtype: object
     prod_country1 prod_country2 prod_country3
3052            CA            JP            US
1962            US          None          None
2229            GB          None          None
2151            KH            US          None
3623            ES          None          None

# Anti-Pattern #2: Using `for` loops with pandas dataframes

In [5]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

# obtain country ranks
vcs = df["prod_country1"].value_counts()
top3 = vcs.index[:3]
top10 = vcs.index[:10]
top20 = vcs.index[:20]

# Looping - DON'T DO THIS
vals = []
for ind, row in df.iterrows():
    country = row["prod_country1"]
    if country in top3:
        vals.append("top3")
    elif country in top10:
        vals.append("top10")
    elif country in top20:
        vals.append("top20")
    else:
        vals.append("other")
df["prod_country_rank"] = vals

# df[col].apply() - DO THIS
def get_prod_country_rank(country):
    if country in top3:
        return "top3"
    elif country in top10:
        return "top10"
    elif country in top20:
        return "top20"
    else:
        return "other"

df["prod_country_rank"] = df["prod_country1"].apply(get_prod_country_rank)
print(df.sample(5, random_state=14).iloc[:, -4:])
# returns:
#      prod_country1 prod_country2 prod_country3 prod_country_rank
# 3052            CA            JP            US             top10
# 1962            US          None          None              top3
# 2229            GB          None          None              top3
# 2151            KH            US          None             other
# 3623            ES          None          None             top10

     prod_country1 prod_country2 prod_country3 prod_country_rank
3052            CA            JP            US             top10
1962            US          None          None              top3
2229            GB          None          None              top3
2151            KH            US          None             other
3623            ES          None          None             top10

## Looping: `df.iterrows()`

In [6]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [7]:
%%time

vcs = df["prod_country1"].value_counts()
top3 = vcs.index[:3]
top10 = vcs.index[:10]
top20 = vcs.index[:20]

vals = []
for ind, row in df.iterrows():
    country = row["prod_country1"]
    if country in top3:
        vals.append("top3")
    elif country in top10:
        vals.append("top10")
    elif country in top20:
        vals.append("top20")
    else:
        vals.append("other")
df = df.assign(prod_country_rank=vals)
print(df["prod_country_rank"].sample(5, random_state=0))

# 1519    top10
# 4942     top3
# 895     top20
# 5426    top10
# 2033     top3
# Name: prod_country_rank, dtype: object
# CPU times: total: 141 ms
# Wall time: 139 ms

1519    top10
4942     top3
895     top20
5426    top10
2033     top3
Name: prod_country_rank, dtype: object
Wall time: 333 ms

## `df[col].apply()`

In [8]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [9]:
%%time

vcs = df["prod_country1"].value_counts()
top3 = vcs.index[:3]
top10 = vcs.index[:10]
top20 = vcs.index[:20]

def get_prod_country_rank(country):
    if country in top3:
        return "top3"
    elif country in top10:
        return "top10"
    elif country in top20:
        return "top20"
    else:
        return "other"

df = df.assign(prod_country_rank=lambda df_: df_["prod_country1"].apply(get_prod_country_rank))
print(df["prod_country_rank"].sample(5, random_state=0))

# 1519    top10
# 4942     top3
# 895     top20
# 5426    top10
# 2033     top3
# Name: prod_country_rank, dtype: object
# CPU times: total: 15.6 ms
# Wall time: 12 ms

1519    top10
4942     top3
895     top20
5426    top10
2033     top3
Name: prod_country_rank, dtype: object
Wall time: 18 ms

In [10]:
def get_prod_country_rank_slow(country):
    vcs = df["prod_country1"].value_counts()
    top3 = vcs.index[:3]
    top10 = vcs.index[:10]
    top20 = vcs.index[:20]
    if country in top3:
        return "top3"
    elif country in top10:
        return "top10"
    elif country in top20:
        return "top20"
    else:
        return "other"

In [11]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [12]:
%timeit df.assign(prod_country_rank=lambda df_: df_["prod_country1"].apply(get_prod_country_rank))

8.32 ms ± 1.58 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [14]:
%timeit df.assign(prod_country_rank=lambda df_: df_["prod_country1"].apply(get_prod_country_rank_slow))

2.9 s ± 34.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## `np.select()` + `.isin()`

In [15]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [16]:
%%time

def get_prod_country_rank(df_):
    vcs = df_["prod_country1"].value_counts()
    return np.select(
        condlist=(
            df_["prod_country1"].isin(vcs.index[:3]),
            df_["prod_country1"].isin(vcs.index[:10]),
            df_["prod_country1"].isin(vcs.index[:20]),
        ),
        choicelist=("top3", "top10", "top20"),
        default="other"
    )

df = df.assign(prod_country_rank = lambda df_: get_prod_country_rank(df_))
print(df["prod_country_rank"].sample(5, random_state=0))

# 1519    top10
# 4942     top3
# 895     top20
# 5426    top10
# 2033     top3
# Name: prod_country_rank, dtype: object
# CPU times: total: 0 ns
# Wall time: 5.95 ms

1519    top10
4942     top3
895     top20
5426    top10
2033     top3
Name: prod_country_rank, dtype: object
Wall time: 0 ns

In [17]:
%timeit df.assign(prod_country_rank = lambda df_: get_prod_country_rank(df_))

3.81 ms ± 119 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## `np.where()`

In [18]:
import pandas as pd

df = pd.read_csv("titles.csv").pipe(split_prod_countries)

In [19]:
df = df.assign(
    adjusted_score=lambda df_: np.where(
        df_["release_year"] > 2016, df_["imdb_score"] - 1, df_["imdb_score"]
    )
)

# Using incorrect data types

In [20]:
import pandas as pd

df = pd.read_csv("titles.csv")

df = df.assign(
    age_certification=lambda df_: df_["age_certification"].astype("category")
)

# Conclusion

In [21]:
import pandas as pd

df = pd.read_csv("titles.csv")

def split_prod_countries(df_):
    dfc = pd.DataFrame(df_["production_countries"].apply(eval).to_list())
    dfc = dfc.iloc[:, :3]
    dfc.columns = ["prod_country1", "prod_country2", "prod_country3"]
    return df_.drop("production_countries", axis=1).join(dfc)

def get_prod_country_rank(df_):
    vcs = df_["prod_country1"].value_counts()
    return np.select(
        condlist=(
            df_["prod_country1"].isin(vcs.index[:3]),
            df_["prod_country1"].isin(vcs.index[:10]),
            df_["prod_country1"].isin(vcs.index[:20]),
        ),
        choicelist=("top3", "top10", "top20"),
        default="other",
    )

def get_adjusted_score(df_):
    return np.where(
        df_["release_year"] > 2016, df_["imdb_score"] - 1, df_["imdb_score"]
    )

(df
    .query("runtime > 30 & type == 'SHOW'")
    .pipe(split_prod_countries)
    .assign(
        imdb_score=lambda df_: get_adjusted_score(df_),
        score=lambda df_: df_[["imdb_score", "tmdb_score"]].sum(axis=1),
        prod_country_rank=lambda df_: get_prod_country_rank(df_),
        rank=lambda df_: df_["prod_country_rank"].astype("category")
    )
    [["rank", "score"]]
    .groupby("rank")
    .agg(["count", "mean"])
    .droplevel(axis=1, level=0)
    .sort_values("mean", ascending=False)
)

#returns:
#        count       mean
# rank                   
# top10     37  15.232432
# other   1104  12.824819
# top3      78  12.624359
# top20     20  10.775000

       count       mean
rank
top10     37  15.232432
other   1104  12.824819
top3      78  12.624359
top20     20  10.775000